Repository Armor-test/reporting-sdk-540, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/grp-reporting, @Armor-test/team-core, @Armor-test/dept-reliability, @Armor-test/squad-database, @Armor-test/dept-test, @Armor-test/squad-ml, @Armor-test/team-notifications, @Armor-test/dept-reporting, @Armor-test/unit-test, @Armor-test/team-logging, @Armor-test/unit-devops, @Armor-test/squad-tooling, @Armor-test/team-research, @Armor-test/dept-data, @Armor-test/squad-research, @Armor-test/grp-payments, @Armor-test/squad-api, @Armor-test/dept-automation, @Armor-test/squad-qa, @Armor-test/squad-cache, @Armor-test/team-governance, @Armor-test/squad-frontend, @Armor-test/squad-search, @Armor-test/squad-cloud, @Armor-test/unit-cloud, @Armor-test/dept-identity, @Armor-test/dept-api, @Armor-test/team-security, @Armor-test/unit-design, @Armor-test/dept-logging, @Armor-test/team-reporting, @Armor-test/grp-api, @Armor-test/squad-apps, @Armor-test/squad-payments, @Armor-test/unit-governance, @Armor-test/squad-reporting, @Armor-test/grp-search, @Armor-test/dept-billing, @Armor-test/grp-storage, @Armor-test/squad-ux, @Armor-test/grp-integration, @Armor-test/dept-notifications, @Armor-test/dept-ui, @Armor-test/security, @Armor-test/compliance, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/infra, @Armor-test/dependency-team

.github/CODEOWNERS:

# CODEOWNERS file for reporting-sdk-540
# Global owners - will be requested for all PRs
* @Armor-test/grp-reporting @Armor-test/team-core @Armor-test/dept-reliability

# Directory ownership
/db/ @Armor-test/squad-database @Armor-test/dept-test
/tools/ @Armor-test/squad-ml @Armor-test/team-notifications
/web/ @Armor-test/dept-reporting @Armor-test/unit-test @Armor-test/squad-database
/shared/ @Armor-test/team-logging @Armor-test/unit-devops @Armor-test/squad-tooling
/src/ @Armor-test/team-research @Armor-test/team-core
/scripts/ @Armor-test/dept-data @Armor-test/squad-research
/utils/ @Armor-test/grp-payments @Armor-test/squad-api @Armor-test/dept-automation
/docs/ @Armor-test/squad-qa @Armor-test/squad-cache
/deploy/ @Armor-test/team-governance @Armor-test/squad-frontend @Armor-test/dept-automation
/services/ @Armor-test/squad-tooling @Armor-test/unit-devops
/public/ @Armor-test/team-governance @Armor-test/squad-search @Armor-test/squad-cloud
/vendor/ @Armor-test/dept-reliability @Armor-test/unit-cloud @Armor-test/dept-identity

# File type ownership
*.html @Armor-test/dept-api @Armor-test/team-security
*.js @Armor-test/squad-ml @Armor-test/unit-design @Armor-test/dept-data
*.scss @Armor-test/dept-logging @Armor-test/unit-design
*.kt @Armor-test/team-reporting @Armor-test/squad-cache @Armor-test/grp-api
*.json @Armor-test/squad-ml @Armor-test/squad-apps @Armor-test/squad-payments
*.py @Armor-test/unit-governance @Armor-test/squad-qa @Armor-test/squad-reporting
*.rs @Armor-test/grp-search @Armor-test/team-notifications
*.php @Armor-test/dept-billing @Armor-test/unit-test
*.yaml @Armor-test/dept-api @Armor-test/dept-reporting @Armor-test/squad-cloud
*.ini @Armor-test/grp-reporting @Armor-test/grp-storage @Armor-test/squad-ux
*.tsx @Armor-test/squad-cache @Armor-test/grp-reporting @Armor-test/grp-integration
*.scala @Armor-test/dept-notifications @Armor-test/dept-api @Armor-test/squad-payments
*.yml @Armor-test/team-reporting @Armor-test/grp-storage
*.sql @Armor-test/dept-ui @Armor-test/grp-integration @Armor-test/grp-storage
*.proto @Armor-test/grp-storage @Armor-test/dept-reliability @Armor-test/dept-test

# Security and special files
/src/**/security/ @Armor-test/security @Armor-test/compliance
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
Dockerfile @Armor-test/devops @Armor-test/infra
package.json @Armor-test/dependency-team @Armor-test/security

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/team-research, @Armor-test/team-core

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/squad-qa, @Armor-test/squad-cache

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/grp-reporting, @Armor-test/team-core, @Armor-test/dept-reliability

Add src/main.py
  src/main.py
Owners: @Armor-test/unit-governance, @Armor-test/squad-qa, @Armor-test/squad-reporting

Add src/index.js
  src/index.js
Owners: @Armor-test/squad-ml, @Armor-test/unit-design, @Armor-test/dept-data
